.Track {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  padding: .4rem 0;
}

.Track-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
}

.Track-action:hover {
  color: rgba(265, 265, 265, .5);
}

.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 72px;
}

.Track-information h3 {
  margin-bottom: .5rem;
}

.Track-information p {
  font-size: .83rem;
  font-weight: 300;
  line-height: 1rem;
  color: rgba(256, 256, 256, 0.8);
  margin-bottom: .3rem;
}

.Track-information .duration {
  color: rgb(240, 240, 135);
}

.Track .inPlaylist h3,
.Track .inPlaylist p,
.Track .inPlaylist {
  color: grey;
}

.Track .inPlaylist:hover {
  cursor: not-allowed;
}